.top-main {
  margin: 0 1rem;
}

.new {
  margin: 0 1rem 4rem;
  }


.top-info {
  dd {
    margin: 0;
  }
}

.section-title {
  display: flex;
}

.section-wrapper {
  display: flex;
  margin: 0 auto;
  img {
    font-size: 1rem;
    // height: 2rem;
  }
}