@use "variable" as v;

.top-main {
  margin: 0 1rem;
}

.new {
  margin: 0 1rem 4rem;
  }


.top-info {
  padding: 1rem;
  border-bottom: solid 2px v.$green01; 
  dd {
    margin: 0;
  }
}

.section-title {
  display: flex;
}

.section-wrapper {
  display: flex;
  margin: 0 auto;
  h2 {
    display: flex;
    align-items: center;
  }
  h2::before {
    content: '';
    display: block;
    width:25px;
    height:75px;
    background-image :linear-gradient(90deg, 
    v.$green01 20%,
    transparent 20%, 
    transparent 40%, 
    v.$green02 40%, 
    v.$green02 60%, 
    transparent 60%, 
    transparent 80%, 
    v.$green03 80%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 1rem;
    }
  }

  .sub-title {
    span{
      span {
        display: block;
        font-size: 1.6rem;
        text-align: center;
      }
    }
  }

  .main-wrapper {
    margin : 0 1rem;
  }

  .main-wrapper {
    .under-line {
      padding-top: 2rem;
      padding-bottom: 3rem;
      border-bottom: solid 2px v.$green03;
    }
  }

  .sub-container {
    margin: 0 1rem;
  }
