@use "variable" as v;
@use "mixin" as m;

.contact-container {
  // position: relative;
  
  // margin : 0 2rem;
  @include m.pc {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

  }
  input, select, textarea {
    background-color: v.$green04;

  }
  // @include m.pc {
  //   width: 100%;
  //   max-width: 960px;
  // }
 }
 .inner-container{
  margin: 0 2rem;
 }
 
P {
  span {
  color : v.$red;
  font-size: 1rem;
  vertical-align: top;
 }
}

input, textarea, select {
  padding: 1rem;
  border:solid 1px v.$green02;
  border-radius: 2px;
  box-sizing: border-box;
  @include m.sp {
    width: 100%;
  }

  &:focus {
    outline: 1px v.$green03 solid;
  }
}


