@use "variable" as v;

.contact-container {
  margin : 0 1rem;
  input, select, textarea {
    background-color: v.$green04;
  }
 }
 
.asterisk {
  span {
  color : v.$red;
  font-size: 1rem;
  vertical-align: top;
 }
}


