@use "variable" as v;
@use "mixin" as m;

.cover {
img {
  margin:1rem 0;
  align-items: center;
  text-align: center;
  justify-content:center;
  width: 100%; 
  height:25rem;
  object-fit: cover;
}
}

