@use "variable" as v;
@use "mixin" as m;

.footer {
  height: 2rem;
  background-color: v.$green02;
  padding-bottom: 6rem;
}

small {
  display: flex;
  text-align:center;
  justify-content: center;
  font-size: 1.0rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: v.$white;
}

