@use "variable" as v;

.pagination.container {
  margin-top: 4rem;  

  }

main .wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px v.$green01;
  border-radius: 9999px;
  overflow: hidden;
  list-style: none;
  padding: 0;

  span,
  a {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 14px;
    color: v.$green01;
    font-weight: bold;
    transition: all 0.15s linear;

    & + * {
      border-left: solid 2px v.$green01;
    }
  }

  .previouspostslink,
  .nextpostslink {
    font-size: 20px;
  }

  span.current {
    background: v.$green01;
    color: #fff;
    pointer-events: none;
    border-left: solid 2px v.$green01;
  }

  a:hover {
    background: #111;
    color: #fff;
    border-left: solid 2px v.$green01;
  }
}
