@use "variable" as v;

.pagination.container {
  margin-top: 4rem;  

  }

.wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px v.$green01;
  border-radius: 9999px;
  overflow: hidden;
  list-style: none;
  padding: 0;
  }
  .Pagination > * + * {
  border-left: solid 2px v.$green01;
  }
  .Pagination-Item-Link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 45px;
  height: 45px;
  background: #fff;
  font-size: 14px;
  color: v.$green01;
  font-weight: bold;
  transition: all 0.15s linear;
  }
  .Pagination-Item-Link-Icon {
  width: 20px;
  }
  .Pagination-Item-Link.isActive {
  background: #111;
  color: #fff;
  pointer-events: none;
  }
  .Pagination-Item-Link:not(.isActive):hover {
  background: #111;
  color: #fff;
  }