@use "variable" as v;
@use "mixin" as m;

.safety-container {
  .under-line {
    @include m.tablet {
      display: flex;
    }
    .safety-wrap {
      @include m.tablet {
        width: 45%;
        margin-left: 2rem;
      }
    }
    img {
      display: block;
      margin: 0 auto;
      margin-top : 2rem;
      width: 70%; 
      @include m.tablet {
        width: 42%;
        height: 42%;
      }

    }
  }
}