// 変数
$white: #fff;
$black: #333;
$gray: #727272;
$dark-gray: #484848;
$azuki: #9E6F6F;
$usu-azuki: #E6D8D8;
$green: #BADCAD;
$green01: #36BFB1;
$green02: #038C73;
$green03: #02735E;
$green04: #DBE8E7;
$twitter: #1d9bf0;
$fb: #1877F2;