@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  color: #333;
  background-color: #fff;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.cover img {
  margin: 1rem 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: auto;
  object-fit: cover;
}

.header {
  top: 0;
  width: 100%;
  background-color: transparent;
}

.header-inner {
  position: fixed;
  width: 100%;
  transition: 0.5s;
}
.header-inner.scrolled {
  background-color: #DBE8E7;
}
.header-inner.scrolled .header-logo a {
  color: #484848;
}
.header-inner.scrolled .nav-button i {
  color: #484848;
}
.header-inner.scrolled .pc-nav-list a {
  color: #484848;
}

.nav-button {
  position: relative;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
}
.nav-button i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #333;
  margin: 0 auto;
}

.sp-nav {
  display: none;
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #DBE8E7;
}

.sp-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 550px) {
  .sp-nav-list {
    display: none;
  }
}
.sp-nav-list li {
  border-top: 1px #038C73 solid;
}
.sp-nav-list li:last-child {
  border-bottom: 1px #038C73 solid;
}
.sp-nav-list li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

.pc-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-nav {
    display: flex;
    justify-content: center;
  }
}
.pc-nav .pc-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.pc-nav .pc-nav-list a {
  margin-right: 2rem;
  color: #484848;
  letter-spacing: 0.1em;
  font-weight: bold;
}
@media screen and (min-width: 550px) {
  .pc-nav .pc-nav-list a {
    font-size: 18px;
  }
}

.header-logo {
  display: block;
  text-align: center;
  padding-top: 7rem;
}

.footer {
  height: 2rem;
  background-color: #038C73;
  padding-bottom: 6rem;
}

small {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #fff;
}

.btn--grn,
a.btn--grn {
  color: #fff;
  background-color: #038C73;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  margin: 0 auto;
}
.btn--grn a,
a.btn--grn a {
  padding-right: 0.2rem;
}

.btn--grn:hover,
a.btn--grn:hover {
  color: #fff;
  background: #038C73;
}

a.btn--radius {
  border-radius: 100vh;
}

.more-btn {
  text-align: center;
}

.contents-button {
  margin: 3rem auto;
}

.contents-nav {
  display: flex;
  justify-content: center;
  background-color: #038C73;
}
.contents-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}
.contents-nav ul li {
  list-style: none;
  background-color: #DBE8E7;
  margin-bottom: 5px;
  padding: 1rem;
  width: 40%;
  border-radius: 20px;
}
.contents-nav ul li a {
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.top-main {
  margin: 0 1rem;
}

.new {
  margin: 0 1rem 4rem;
}

.top-info {
  padding: 1rem;
  border-bottom: solid 2px #36BFB1;
}
.top-info dd {
  margin: 0;
}

.section-title {
  display: flex;
}

.section-wrapper {
  display: flex;
  margin: 0 auto;
}
.section-wrapper h2 {
  display: flex;
  align-items: center;
}
.section-wrapper h2::before {
  content: "";
  display: block;
  width: 25px;
  height: 75px;
  background-image: linear-gradient(90deg, #36BFB1 20%, transparent 20%, transparent 40%, #038C73 40%, #038C73 60%, transparent 60%, transparent 80%, #02735E 80%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.sub-title span span {
  display: block;
  font-size: 1.6rem;
  text-align: center;
}

.main-wrapper {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .main-wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}

.main-wrapper .under-line {
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-bottom: solid 2px #02735E;
}

.sub-container {
  margin: 0 1rem;
}

@media screen and (min-width: 550px) {
  .safety-container .under-line {
    display: flex;
  }
}
@media screen and (min-width: 550px) {
  .safety-container .under-line .safety-wrap {
    width: 45%;
    margin-left: 2rem;
  }
}
.safety-container .under-line img {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  width: 70%;
}
@media screen and (min-width: 550px) {
  .safety-container .under-line img {
    width: 42%;
    height: 42%;
  }
}

@media screen and (min-width: 550px) {
  .safety02 {
    flex-direction: row-reverse;
  }
}

.wp-block-media-text {
  margin-bottom: 6rem;
}

.top-info {
  margin-bottom: 2rem;
}
.top-info a h3 {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .contact-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.contact-container input, .contact-container select, .contact-container textarea {
  background-color: #DBE8E7;
}

.inner-container {
  margin: 0 2rem;
}

div .hissu {
  color: #e34454;
  font-size: 1rem;
  vertical-align: top;
}
div .wpcf7-form-control-wrap {
  position: static;
  font-size: 1.6rem;
}
div.company input {
  width: 15rem;
}
div.name input {
  width: 10rem;
}
div.male input {
  width: 20rem;
}
div.prefer select {
  width: 10rem;
}
div.city input {
  width: 20rem;
}
div.tel-no input {
  width: 15rem;
}
div.send-btn input {
  width: 8rem;
  height: 4rem;
}

input, textarea, select {
  padding: 1rem;
  border: solid 1px #038C73;
  border-radius: 2px;
  box-sizing: border-box;
}
@media screen and (max-width: 549px) {
  input, textarea, select {
    width: 100%;
  }
}
input:focus, textarea:focus, select:focus {
  outline: 1px #02735E solid;
}

.recruit-form input, .recruit-form select, .recruit-form textarea {
  background: #DBE8E7;
}

/*========= ナビゲーションのためのCSS ===============*/
#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  background: #DBE8E7;
  /*動き*/
  transition: all 0.6s;
}
@media screen and (min-width: 768px) {
  #g-nav {
    display: none;
  }
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh; /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #343;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  z-index: 9999; /*ボタンを最前面に*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .openbtn {
    display: none;
  }
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.pagination.container {
  margin-top: 4rem;
}

main .wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #36BFB1;
  border-radius: 9999px;
  overflow: hidden;
  list-style: none;
  padding: 0;
}
main .wp-pagenavi span,
main .wp-pagenavi a {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 45px;
  height: 45px;
  background: #fff;
  font-size: 14px;
  color: #36BFB1;
  font-weight: bold;
  transition: all 0.15s linear;
}
main .wp-pagenavi span + *,
main .wp-pagenavi a + * {
  border-left: solid 2px #36BFB1;
}
main .wp-pagenavi .previouspostslink,
main .wp-pagenavi .nextpostslink {
  font-size: 20px;
}
main .wp-pagenavi span.current {
  background: #36BFB1;
  color: #fff;
  pointer-events: none;
  border-left: solid 2px #36BFB1;
}
main .wp-pagenavi a:hover {
  background: #111;
  color: #fff;
  border-left: solid 2px #36BFB1;
}

/* 文字コードの指定 */

/*# sourceMappingURL=style.css.map */
