@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  color: #333;
  background-color: #fff;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.cover img {
  margin: 1rem 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-inner {
  position: fixed;
  width: 100%;
}

.nav-button {
  position: relative;
  font-size: 2rem;
}
@media screen and (min-width: 550px) {
  .nav-button {
    display: none;
  }
}
.nav-button i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #333;
  margin: 0 auto;
}

.sp-nav {
  display: none;
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #E6D8D8;
}
.sp-nav li {
  list-style: none;
}

.pc-nav {
  display: none;
}
@media screen and (min-width: 550px) {
  .pc-nav {
    display: flex;
  }
}
.pc-nav .pc-nav-list {
  display: flex;
  list-style: none;
}
.pc-nav .pc-nav-list a {
  margin-right: 2rem;
  color: #fff;
}
@media screen and (min-width: 550px) {
  .pc-nav .pc-nav-list a {
    font-size: 18px;
  }
}

.header-logo {
  display: block;
  text-align: center;
  padding-top: 5rem;
}

.footer {
  height: 2rem;
  background-color: #038C73;
  padding-bottom: 6rem;
}
@media screen and (min-width: 550px) {
  .footer {
    padding-bottom: 0;
  }
}

small {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #fff;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #038C73;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  margin: 0 auto;
}
.btn--orange a,
a.btn--orange a {
  padding-right: 0.2rem;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #038C73;
}

a.btn--radius {
  border-radius: 100vh;
}

.more-btn {
  text-align: center;
}

.contents-button {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.contents-nav {
  background-color: #038C73;
}
.contents-nav ul {
  padding: 2rem;
}
.contents-nav li {
  list-style: none;
  background-color: #DBE8E7;
  margin-bottom: 5px;
  height: 3rem;
}
.contents-nav li a {
  display: flex;
  justify-content: center;
}

.top-main {
  margin: 0 1rem;
}

.new {
  margin: 0 1rem 4rem;
}

.top-info dd {
  margin: 0;
}

.section-title {
  display: flex;
}

.section-wrapper {
  display: flex;
  margin: 0 auto;
}
.section-wrapper h2 {
  display: flex;
  align-items: center;
}
.section-wrapper h2::before {
  content: "";
  display: block;
  width: 25px;
  height: 75px;
  background-image: linear-gradient(90deg, #36BFB1 30%, #DBE8E7 30%, #DBE8E7 35%, #038C73 35%, #038C73 65%, #DBE8E7 65%, #DBE8E7 70%, #02735E 70%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.sub-title span span {
  display: block;
  font-size: 1.6rem;
  text-align: center;
}

.main-wrapper {
  margin: 0 1rem;
}

.tate-stripe {
  position: relative;
  margin: 1rem;
  padding-right: 1rem;
  background-image: linear-gradient(90deg, #36BFB1 30%, #DBE8E7 30%, #DBE8E7 35%, #038C73 35%, #038C73 65%, #DBE8E7 65%, #DBE8E7 70%, #02735E 70%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* 文字コードの指定 */
/*# sourceMappingURL=style.css.map */